
body{
  background-color: rgba(0, 0, 0, 0.959);
}

.card{
  background-color: rgb(156, 206, 247);
  transform: linear;
}
.card:hover{
  background-color: rgb(236, 233, 233);
  border: 3px solid goldenrod;
}
.card-img-top:hover{
  background-color: rgb(183, 190, 196);
  transform: scale(1.1);
}
.navbar-bg{
  background-color: rgb(62, 47, 77);
}